*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    padding: none;
    font-family: 'Karla', sans-serif;
    height: auto;
    scroll-behavior: smooth;
}
a{
color: inherit;
text-decoration: none;
}
:root{
    --Intenso:#C4DFDF;
    --Menosintenso:#D2E9E9;
    --Claro:#E3F4F4;
    --Crema:#F8F6F4;
    --title:#526d828d;
}
/** HEADER */ 
.header{
    width: 100%;
    height: 10rem;
    display: flex;
    background-color:var(--Intenso);
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.header__h1{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    z-index: 2;
    color: var(--title);
    transition: 1s;
}
.header__img{
    height: 8rem;
    position:absolute;
    transition: 1s;
}
/** NAV */
.nav{
    position: sticky;
    top: 0;
    background-color:var(--Menosintenso);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    z-index: 100;
    border: 1px solid var(--Claro);
}
.nav__section1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 10px;
}
.nav__section2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    position: fixed;
    left: 100%;
    top: 10rem;
    transition: 1s;
}
/*? Section2 Carrito  */
.nav__section2--toggle2{
    left: 0% ;
    transition: 1s;
    position: relative;
    top: -4px;
}
.section2__title{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.section2__cart-img{
    height: 8rem;
}
.section2__cart{
    min-height: 100px;
    max-height: 100rem;
    width: 100%;
    color: var(--title);
    background-color: var(--Claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    gap: 1rem;
    border-radius: 10px;
    /* position: fixed; */
    transition: 1s;
    overflow-y: scroll;
    overflow: hidden;
}

.section2__cart-list{
    height: 400px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--Crema);
    border-radius: 10px;
    padding: 0.9rem;
    width: 22rem;
    box-shadow: 0 4px 4px 4px var(--Menosintenso);
    overflow-y: hidden;
}
.section2__cart-item{
    width: 16rem;
    height: 15rem;
    box-shadow: 0 4px 4px 4px var(--Menosintenso);
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section2__button-buy{
    border: none;
    font-size: 1.3rem;
    color: var(--title);
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px 4px var(--Menosintenso);
    background-color: var(--Crema);
    padding: 1rem;
    border-radius: 10px;
    transition: 1s;
}
.section2__button-buy:active{
    background-color: white;
    transform: scale(1.5);
}
.delete__product{
    border: none;
    font-size: 1.3rem;
    color: var(--title);
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px 4px var(--Menosintenso);
    background-color: rgba(255, 0, 0, 0.314);
    padding: 0.5rem;
    border-radius: 10px;
    transition: 1s;
}
.delete__product:active{
    background-color: white;
    transform: scale(1.5);
}
.nav__button{
    border: none;
    font-size: 1rem;
    background-color: var(--Claro);
    padding: 3px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    color: var(--title);
    transition: 1s;
}
.nav__cart{
    border: none;
    background-color: transparent;
    left:17rem;
    color: var(--title);
    font-size: 1.5rem;
}

/** MAIN */
/*? Section1 Grilla  */
.blurmain{
    filter: blur(10px);
}
.main__section1{
    height: 100%;
    padding: 40px;
    background-color:var(--Claro);
    transition: 1s;
}
.section1__articles{
    padding: 0.5rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
}
.section1__article{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: white;
    border: 1px solid var(--Menosintenso);
    box-shadow: 0 4px 4px 4px var(--Menosintenso);
}
.section1__article-body{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.section1__article-title{
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    color: var(--title);
    text-decoration: underline;
}
.section1__article__price{
    font-size: 1.3rem;
    color: var(--title)
}
.section1__article-btncontainer{
    height: 2rem;
}
.section1__article-button{
    border: none;
    font-size: 1.3rem;
    background-color: var(--Menosintenso);
    height: 100%;
    width: 50%;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    color: var(--title);
    box-shadow: 0 3px 3px 3px;
    transition: 1s;
}
.section1__article-button:active{
    background-color: white;
    transform: scale(1.5);
}
.section1__button{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.button__grid{
    background-color: var(--darkgray);
    color: white;
    padding: 0.5rem;
    border-radius: 10%;
    border: none;
}
.section1__article__img{
    height: 10rem;
}
/*? Section3 Modal  */
.main_section3{
    color: var(--title);
    font-family: 'Comfortaa';
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 8.5rem;
    z-index: 900;
    flex-direction: column;
    visibility: hidden;
}
.section3__article--visible{
    visibility: initial;
}
.section3__article{
    display: flex;
    justify-content: center;
    background-color: var(--Claro);
    padding-bottom: 1rem;

}
.section3__article-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 90%;
    background-color: var(--Crema);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 4px 4px var(--Menosintenso);
}
.section3__article-img{
    height: 16rem;
}
.section3__article-title{
    font-size: 1.3rem;
    font-family: 'Comfortaa', cursive;
}
.section3__article-category{
    font-size: 1rem;
}
.section3__article-contdescription{
    width: 90%;
}
.section3__article-description{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.section3__article-btncontainer{
    width: 50%;
    margin-bottom: 1rem;
}
.section3__article-button{
    border: none;
    padding: 5px 1rem 5px 1rem;
    font-size: 1.3rem;
    background-color: var(--Menosintenso);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    color: var(--title);
    box-shadow: 0 3px 3px 3px;
    transition: 1s;
}
.section3__article-button:hover{
    cursor: pointer;
}

/** FOOTER */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color:var(--Intenso);
}
.footer__avatars{
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(3, 2rem);
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 1rem;
}
.footer_avatar{
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: transform 300ms;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--Intenso);
}
.footer_avatar:hover ~ .footer_avatar{
    transform: translateX(2rem);
}
.footer_avatar--alex{
    background-image: url(./assets/alexanderimage.png);
    background-size: cover;
}
.footer_avatar--helen{
    background-image:url(./assets/helenimage.png);
    background-size: cover;
}
.footer_avatar--yordan{
    background-image: url(./assets/yordanimage.png);
    background-size: cover;
}
@media screen and (min-width:767px){
    .header{
        height: 15rem;
    }
    .header__h1{
        font-size: 5rem;
    }
    .header__img{
        height: 15rem;
    }
    .main__section2{
        top: 20rem;
    }
    .section2__cart-item{
        width: 21rem;
    }
    .section2__cart-list{
        width: 60%;
    }
    .section2__cart-name{
        font-size: 1.7rem;
    }
    .section2__cart-img{
        height: 15rem;
    }
    .section2__cart-price{
        font-size: 2rem;
    }
    .section2__cart{
        margin: 0 3rem 0 3rem;
    }
    .section2__title{
        font-size: 2rem;
    }
}
@media screen and (min-width:911px){
    .section1__articles{
        padding: 0.5rem;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 1rem;
    }
    .section2__cart-item{
        width: 26rem;
    }
    .main_section3{
        color: var(--title);
        font-family: 'Comfortaa';
        display: flex;
        justify-content: center;
        background-color: var(--Claro);
    }
    .section3__article{
        display: flex;
        justify-content: center;
        background-color: var(--Claro);
        padding-bottom: 1rem;
        width: 70%;
    }
}
@media screen and (min-width:1439px){
    .section1__articles{
        padding: 0.5rem;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
        gap: 1rem;
        row-gap: 4rem;
        column-gap: 3rem;
    }
    .section2__cart-list{
        width: 80%;
        flex-direction: row;
        gap: 3rem;
        flex-wrap: wrap;
    }
    .section2__cart-item{
        height: 24rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width:1900px){
    .section1__articles{
        padding: 0.5rem;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
        gap: 1rem;
        row-gap: 4rem;
        column-gap: 3rem;
    }
    .section2__cart-list{
        width: 80%;
        flex-direction: row;
        gap: 3rem;
    }
    .section2__cart-item{
        height: 24rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}


